<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body>
    <div id="app">
        <button @click="getName"></button>
        <li v-for="(value,name) in users">
            {{value.name}} : {{value.age}}
        </li>
    </div>

<script>
    //vue来获取信息
    var vue = new Vue({
        el : "#app",
        "data":{
            users:[
                {
                    name:"xiao1",
                    age:1
                },
                {
                    name:"xiao2",
                    age:2
                }
            ]

        },
        methods:{
            "getName" : function(){
                axios({
                   method:"post",
                    url: "/getJson",
                    data:{
                       name : "xiaobai"
                    }
                }).then(function(response){
                    var json =response.data;
                    if(json.status == '200'){
                        data = JSON.parse(json.data);
                        vue.users=data;


                    }
                }).catch(function(error){
                    console.log(error)
                });
            }
        }
    })

</script>
</body>
</html>
